extends layout

block content
	//- p Create a Poll:

	a(href='/54e3b28cb00cd1f832bf6cec') TEST LINK

	mixin choice
		input.form-control(type='text', name='choicearr', placeholder='Choice')

	.row
		.col-md-6
			form(id='pollForm', action='/', method='post')
				.form-group
					input.form-control(type='text', name='question', placeholder='Enter a question...')
					#choices
						+choice
						+choice
						#lastchoice
							+choice
				button.btn.btn-default(type = 'submit') Go!

	

