extends layout

block content
	p Create a Poll:

	mixin choice
		input.form-control(type='text', name='choicearr', placeholder='Choice')

	.row
		.col-md-6
			form(id='pollForm', action='/', method='post')
				.form-group
					input#inpQ.form-control(type='text', name='question', placeholder='Enter a question...')
					#inpChoices
						+choice
						+choice
						+choice
				button.btn.btn-default(type = 'submit') Go!


