extends layout

block content
	p Create a Poll:

	.row
		.col-md-6
			form(action='/', method='post')
				.form-group
					input.form-control(type='text', name='question', placeholder='Enter a question...')
					input.form-control(type='text', name='choice', placeholder='Choice')
				button.btn.btn-default(type = 'submit') Go!

