extends layout

block content
	//- p Create a Poll:


	mixin choice
		input.form-control(type='text', name='choicearr', placeholder='Choice')

	//- .container
	.row
		.col-md-6.col-md-offset-3
			a(href='/54e3b28cb00cd1f832bf6cec') TEST LINK
			form(id='pollform', action='/', method='post')
				.form-group
					input.form-control(type='text', name='question', placeholder='Enter a question...')
					#choices
						+choice
						+choice
						#lastchoice
							+choice
				button.btn.btn-primary.center-block(type = 'submit') Go!

	

