extends layout

block content
	h3.question= poll.question
	//- p Vote on Poll #{poll._id}:

	mixin choicerad(choice)
		.radio
			label
				input(type='radio' name="rad" value= choice.index)
				=choice.content

	mixin choicebox(choice)
		.checkbox
			label
				input(type='checkbox' name= choice.index)
				=choice.content

	.row
		.col-md-4.col-md-offset-4
			form(id='voteform', action = '/#{poll._id}', method='post')
				.input-group
					each choice in poll.choices
						if poll.unique == true
							+choicerad(choice)
						else
							+choicebox(choice)
						
				.text-center
					button#submitvote.btn.btn-primary.disabled(type = 'submit') Vote!
					.divider
					a#resultsbtn.btn.btn-primary(href='#{poll._id}/results') Results 
	
