body {
  padding: 20px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*overflow: scroll !important;*/
  background-color: #F4F2ED;
}

a {
 	color: #00B7FF;
	text-decoration: none !important;
}

#header {
	text-align: center;
	padding-bottom: 20px;
}

#header a {
	color: inherit;
}

#header h1 {
	display: inline;
}

#header h1:hover {
	/*color: #;*/
}

#header img {
	width: 75px;
	/*float: right;*/
}

#pollform {
	padding-top: 20px;
}

#pollform .form-group{
	padding-bottom: 20px;
}

.question {
	text-align: center;
	padding-bottom: 50px;
}

.shareable {
	display: block;
	text-align: center;
	width: 100%;
}